<template name="SideNav">
	<nav class="side-nav">
		<ul>
			<li>
				<a href="/recipe-book"><i class="fa fa-list"></i> Recipe Book</a>
			</li>
			<li>
				<a href="/menu"><i class="fa fa-map-o"></i> Menu</a>
			</li>
			<li>
				<a href="/shopping-list"><i class="fa fa-shopping-cart"></i> Shopping list</a>
			</li>
			<li>
				<h5 class="projectAuthor">Dusan Minic @ 2016</h5>
				<h6><a href="https://github.com/DushanMinic/recipe-book"><i class="fa fa-github">Check on GitHub</i></a></h6>
			</li>
		</ul>
	</nav>
</template>